<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corewell.study.dao.DecoderDao">
    <resultMap id="DecoderMap" type="com.corewell.study.domain.Decoder">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="model" column="model"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="type" column="type"/>
        <result property="agreement" column="agreement"/>
        <result property="path" column="path"/>
        <result property="port" column="port"/>
        <result property="remarks" column="remarks"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="deleteFlag" column="delete_flag"/>

    </resultMap>

    <select id="findDecoder" parameterType="DecoderReq" resultType="Decoder">
        select id, name,number, model,manufacturer,type, agreement, path, port,remarks,
        creator_id as creatorId,create_time as createTime, update_time as updateTime
        from decoder
        where delete_flag=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="creatorId!=null and creatorId!=''">
            and creator_id=#{creatorId}
        </if>
        <if test="model!=null and model!=''">
            and model=#{model}
        </if>
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        <if test="number!=null and number!=''">
            and number=#{number}
        </if>
        <if test="name!=null and name!=''">
            and name like CONCAT('%' , #{name ,jdbcType=VARCHAR},'%')
        </if>

    </select>

    <insert id="insertDecoder" parameterType="Decoder">
        insert into decoder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="number!=null and number!=''">
                number,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="model!=null and model!=''">
                model,
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                manufacturer,
            </if>
            <if test="type!=null and type!=''">
                type,
            </if>
            <if test="agreement!=null and agreement!=''">
                agreement,
            </if>
            <if test="path!=null and path!=''">
                path,
            </if>
            <if test="port!=null and port!=''">
                port,
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks,
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="deleteFlag!=null and deleteFlag!=''">
                delete_flag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="number!=null and number!=''">
                #{number},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="model!=null and model!=''">
                #{model},
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                #{manufacturer},
            </if>
            <if test="type!=null and type!=''">
                #{type},
            </if>
            <if test="agreement!=null and agreement!=''">
                #{agreement},
            </if>
            <if test="path!=null and path!=''">
                #{path},
            </if>
            <if test="port!=null and port!=''">
                #{port},
            </if>
            <if test="remarks!=null and remarks!=''">
                #{remarks},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                #{creatorId},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="deleteFlag!=null and deleteFlag!=''">
                #{deleteFlag}
            </if>
        </trim>
    </insert>


    <update id="updateDecoder" parameterType="Decoder">
        update decoder
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="number!=null and number!=''">
                number =#{number},
            </if>
            <if test="model!=null and model!=''">
                model =#{model},
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                manufacturer=#{manufacturer},
            </if>
            <if test="type!=null and type!=''">
                type= #{type},
            </if>
            <if test="agreement!=null and agreement!=''">
                agreement=#{agreement},
            </if>
            <if test="path!=null and path!=''">
                path=#{path},
            </if>
            <if test="port!=null and port!=''">
                port=#{port},
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks=#{remarks},
            </if>

            <if test="createTime!=null">
                create_time =#{createTime},
            </if>
            <if test="updateTime!=null">
                update_time =#{updateTime},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id =#{creatorId},
            </if>
            <if test="deleteFlag!=null and deleteFlag!=''">
                delete_flag =#{deleteFlag}
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateDecoderStatus" parameterType="Long">
        update decoder
        set delete_flag=0,
            update_time=now()
        where id = #{id}
    </update>
</mapper>

