<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corewell.study.dao.DeviceDao">
    <resultMap id="DeviceMap" type="com.corewell.study.domain.Device">
        <id property="id" column="id"/>
        <result property="model" column="model"/>
        <result property="number" column="number"/>
        <result property="name" column="name"/>
        <result property="agreement" column="agreement"/>
        <result property="remarks" column="remarks"/>
        <result property="binding" column="binding"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="isAlarms" column="is_alarms"/>
        <result property="bindingId" column="binding_id"/>
        <result property="projectId" column="project_id"/>
        <result property="creatorId" column="creator_id"/>
        <result property="decoderId" column="decoder_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>

    </resultMap>

    <select id="findDevice" parameterType="DeviceReq" resultType="DeviceDo">
        select d.id,
        d.model,
        d.number,
        d.name,
        d.agreement,
        d.manufacturer,
        d.remarks,
        d.binding,
        d.status,
        d.type,
        d.is_alarms as isAlarms,
        d.binding_id as bindingId,
        d.project_id as projectId,
        d.creator_id as creatorId,
        d.decoder_id as decoderId,
        d.create_time as createTime,
        d.update_time as updateTime,
        t.name as bindingName,
        d2.name as decoderName,
        p.name as projectName,
        t2.name as creatorName
        from device d
        left join teacher t on d.binding_id = t.id
        left join teacher t2 on t2.id=d.creator_id
        left join decoder d2 on d.decoder_id = d2.id
        left join project p on d.project_id = p.id
        where d.delete_flag=1
        <if test="projectId!=null and projectId!=''">
            and project_id=#{projectId}
        </if>
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        <if test="creatorId!=null and creatorId!=''">
            and creator_id=#{creatorId}
        </if>
        <if test="binding!=null and binding!=''">
            and binding=#{binding}
        </if>
        <if test="status!=null and status!=''">
            and status=#{status}
        </if>

    </select>

    <insert id="insertDevice" parameterType="Device">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="model!=null and model!=''">
                model,
            </if>
            <if test="number!=null and number!=''">
                number,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="agreement!=null and agreement!=''">
                agreement,
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                manufacturer,
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks,
            </if>
            <if test="binding!=null and binding!=''">
                binding,
            </if>
            <if test="status!=null and status!=''">
                status,
            </if>
            <if test="type!=null and type!=''">
                type,
            </if>
            <if test="isAlarms!=null and isAlarms!=''">
                is_alarms,
            </if>
            <if test="projectId!=null and projectId!=''">
                project_id,
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id,
            </if>
            <if test="decoderId!=null and decoderId!=''">
                decoder_id,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="deleteFlag!=null and deleteFlag!=''">
                delete_flag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="model!=null and model!=''">
                #{model},
            </if>
            <if test="number!=null and number!=''">
                #{number},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="agreement!=null and agreement!=''">
                #{agreement},
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                #{manufacturer},
            </if>
            <if test="remarks!=null and remarks!=''">
                #{remarks},
            </if>
            <if test="binding!=null and binding!=''">
                #{binding},
            </if>
            <if test="status!=null and status!=''">
                #{status},
            </if>
            <if test="type!=null and type!=''">
                #{type},
            </if>
            <if test="isAlarms!=null and isAlarms!=''">
                #{isAlarms},
            </if>
            <if test="projectId!=null and projectId!=''">
                #{projectId},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                #{creatorId},
            </if>
            <if test="decoderId!=null and decoderId!=''">
                #{decoderId},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="deleteFlag!=null and deleteFlag!=''">
                #{deleteFlag}
            </if>
        </trim>
    </insert>


    <update id="updateDevice" parameterType="Device">
        update device
        <set>
            <if test="model!=null and model!=''">
                model=#{model},
            </if>
            <if test="number!=null and number!=''">
                number =#{number},
            </if>
            <if test="name!=null and name!=''">
                name =#{name},
            </if>
            <if test="agreement!=null and agreement!=''">
                agreement =#{agreement},
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                manufacturer =#{manufacturer},
            </if>
            <if test="remarks!=null and remarks!=''">
                remarks =#{remarks},
            </if>
            <if test="binding!=null and binding!=''">
                binding =#{binding},
            </if>
            <if test="status!=null and status!=''">
                status =#{status},
            </if>
            <if test="type!=null and type!=''">
                type=#{type},
            </if>
            <if test="isAlarms!=null and isAlarms!=''">
                is_alarms =#{isAlarms},
            </if>
            <if test="projectId!=null and projectId!=''">
                project_id= #{projectId},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id =#{creatorId},
            </if>
            <if test="decoderId!=null and decoderId!=''">
                decoder_id= #{decoderId},
            </if>
            <if test="createTime!=null">
                create_time = #{createTime},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag!=null and deleteFlag!=''">
                delete_flag=#{deleteFlag}
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateDeviceStatus" parameterType="Long">
        update Device
        set delete_flag=0,
            update_time=now()
        where id = #{id}
    </update>

    <update id="updateBindingByProjectId" parameterType="Long">
        update Device
        set binding=0,
            update_time=now()
        where project_id = #{projectId}
    </update>

    <update id="updateBindingByBindingId" parameterType="Long">
        update Device
        set binding=0,
            update_time=now()
        where binding_id = #{bindingId}
    </update>
</mapper>

