<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//www.mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corewell.study.dao.ProjectDao">
    <resultMap id="ProjectMap" type="com.corewell.study.domain.Project">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="name" column="name"/>
        <result property="creatorId" column="creator_id"/>
        <result property="info" column="info"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>

    </resultMap>

    <select id="findProject" parameterType="ProjectReq" resultType="ProjectDo">
        select p.id, p.number, p.name, p.creator_id as creatorId, t.name as creatorName, p.info,
        p.create_time as createTime, p.update_time as updateTime, p.status
        from project p left join teacher t on p.creator_id = t.id
        where status=1
        <if test="id!=null and id!=''">
            and p.id=#{id}
        </if>
        <if test="creatorId!=null and creatorId!=''">
            and p.creator_id=#{creatorId}
        </if>
        order by p.create_time ASC

    </select>

    <select id="findProjectId" parameterType="Long" resultType="Long">
        select id
        from project
        where status = 1
          and creator_id = #{creatorId}
    </select>

    <insert id="insertProject" parameterType="Project">
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="number!=null and number!=''">
                number,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id,
            </if>
            <if test="info!=null and info!=''">
                info,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="status!=null and status!=''">
                status
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="number!=null and number!=''">
                #{number},
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                #{creatorId},
            </if>
            <if test="info!=null and info!=''">
                #{info},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="status!=null and status!=''">
                #{status}
            </if>
        </trim>
    </insert>


    <update id="updateProject" parameterType="Project">
        update project
        <set>
            <if test="number!=null and number!=''">
                number =#{number},
            </if>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="creatorId!=null and creatorId!=''">
                creator_id =#{creatorId},
            </if>
            <if test="info!=null and info!=''">
                info =#{info},
            </if>
            <if test="createTime!=null">
                create_time =#{createTime},
            </if>
            <if test="updateTime!=null">
                update_time =#{updateTime},
            </if>
            <if test="status!=null and status!=''">
                status =#{status}
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateProjectStatus" parameterType="Long">
        update project
        set status=0,
            update_time=now()
        where id = #{id}
    </update>

    <update id="updateProjectStatusByCreatorId" parameterType="Long">
        update project
        set status=0,
            update_time=now()
        where creator_id = #{creatorId}
    </update>


</mapper>

